.class-container {
    display: flex;
    align-items: center;
    text-align: center;
    /* flex-flow: row wrap; */
    justify-content: center;
    background-color: #0f0f0f;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0); /* Add border style and color here */
    margin: 10px; /* Optional: Add margin for spacing */
    min-width: 30%;
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.empty-header{
    display: flex;
    align-items: center;
    font-size: 40px;
    text-align: center;
}
.bpgc-classes{
    text-align: center;
    min-width: 80vh;
    justify-content: center;
    margin-top: 0px;
}

.avail-classes{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    padding: 1px;
}

.searchtime{
    position : fixed;
}

.nothing{
    background-image:url('./assets/images/bg.jpg');
    margin-top: 50px;
    padding-bottom: 300px;
    background-size: cover;
    opacity: 0.6;
    border-radius: 100px;
}

.bugs{
    color: aliceblue;
    font-size: 12px;
    z-index: 100;
    position: fixed;
    bottom:25px;
    right:20px;
}