.class-container {
    display: flex;
    align-items: center;
    text-align: center;
    /* flex-flow: row wrap; */
    justify-content: center;
    background-color: #0f0f0f;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0); /* Add border style and color here */
    margin: 10px; /* Optional: Add margin for spacing */
    min-width: 30%;
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.empty-header{
    display: flex;
    align-items: center;
    font-size: 40px;
}
.bpgc-classes{
    text-align: center;
    min-width: 100vh;
    justify-content: center;
    margin-top: 0px;
}

.avail-classes{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    padding: 1px;
}

