@font-face {
    font-family: 'Marvel';
    src: url('./assets/fonts/Marvel/Marvel-Regular.ttf') format('truetype'); /* adjust the path and format as needed */
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'MarvelBold';
    src: url('./assets/fonts/Marvel/Marvel-Bold.ttf') format('truetype'); /* adjust the path and format as needed */
    font-weight: bold;
    font-style: normal;
  }

@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/Playfair/PlayfairDisplay-Variable.ttf') format('truetype'); /* adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-Var.ttf') format('truetype'); /* adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DM';
  src: url('./assets/fonts/DMSans/dmSans.ttf') format('truetype'); /* adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}


  