.shine {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0.93) 50%,
    rgba(0, 0, 0, 1) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}
  
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}