.search-bar{
    margin-top: 90px;
    background-color:aliceblue;
    color: rgb(36, 36, 36);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(217, 255, 0); 
    position: fixed;
    /* margin-left: 15vw; */
}

@media screen and (max-width:800px) {
    .search-bar{
        padding-right: 20vw;
        margin-left: 10px;
    }
}

.passive{
    background-color:rgb(34, 34, 34);
    padding: 5px 15px;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 2px;
}

.active{
    background-color:rgb(122, 10, 33);
    padding: 5px 15px;
    border-radius: 2px;

}

.classlist-days{
    margin-top: 150px;
    color: aliceblue;
}
.rect1{
    border: #ffffff solid;
    border-radius: 10px;
    background-color: #270000;
    text-align: left;
}
.rect{
    background-color: #018d97;
    text-align: center;
    /* border: #4b0000 solid; */
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    text-align: left;
    font-family: Rubik;
    background: repeating-linear-gradient(
        150deg,
        #5a00ad,
        #5a00ad 5px,
        #465298 10px,
        #465298 20px
    );
}

.clas{
    display: flex;
    flex-direction: column;
    align-items: center;

}