.search-bar{
    margin-top: 10px;
    background-color:aliceblue;
    color: rgb(36, 36, 36);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(148, 47, 0); 
    position: fixed;
    /* margin-left: 15vw; */
}

@media screen and (min-width:300px) and (max-width:800px){
    .search-bar{
        padding-right: 23vw;
        margin-left: 10px;
    }
}


@media screen and (min-width:800px){
    .search-bar{
        padding-right: 8vw;
        margin-left: 10px;
    }
}


.passive{
    background-color:rgb(34, 34, 34);
    padding: 5px 15px;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 2px;
}

.active{
    background-color:rgb(139, 2, 2);
    padding: 5px 15px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.classlist-days{
    margin-top: 80px;
    color: aliceblue;
}
.rect1{
    border: #ffffff solid 1px;
    border-radius: 10px;
    background-color: #1d1d1d;
    text-align: left;
    margin-top: 100px;
}
.rect{
    text-align: center;
    /* border: #4b0000 solid; */
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    text-align: left;
    font-family: Rubik;
    background-color: rgb(0, 142, 212);
}

.clas{
    display: flex;
    flex-direction: column;
    align-items: center;

}