.main{
  /* justify-content:center; */
  display: flex;
  align-items:center;
  /* text-align: center; */
  flex-flow: column wrap;
  background-color: hsl(0, 0%, 6%);
  min-height: 100vh;
}


.drawbar{
  position: fixed;
  bottom:0;
  right:auto;
}

.cred{
  color: aliceblue;
  font-size: small;
  z-index: 100;
  position: fixed;
  bottom:70px;
  right:auto;
  font-family:Playfair;
}