.main{
  justify-content:flex-start;
  display: flex;
  align-items:center;
  text-align: center;
  flex-flow: column wrap;
  background-color: #1e1e1e;
  min-height: fit-content;
}

.bpgc-classes{
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: #1b1b1b; */
  color: aliceblue;
  font-family: 'Marvel';
  font-size: 80px;
}

#time{
  font-size: 40px;
  color: aliceblue;
  font-family: 'Marvel';
  
}